<ul class="paper-list">
  {% for paper in include.papers %}
  <li class="paper">
    <a class="paper-title" href="{{ paper.url_ads }}">{{ paper.title }}</a>
    <p class="paper-meta">
      <span class="paper-authors">{{ paper.authors_short }}</span>
      <span class="paper-source">{{ paper.reference }}</span>
    </p>
    <p class="paper-links">
      <a href="{{ paper.url_ads }}">ADS</a>
      {% if paper.url_arxiv %}<a href="{{ paper.url_arxiv }}">arXiv</a>{% endif %}
      {% if paper.url_doi %}<a href="{{ paper.url_doi }}">Journal</a>{% endif %}
      {% if paper.citations > 0 %}<span class="paper-cites">{{ paper.citations }} citation{% if paper.citations != 1 %}s{% endif %}</span>{% endif %}
    </p>
  </li>
  {% endfor %}
</ul>
